body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{
    font-size: 64px;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioSubheader{
    font-weight: 400;
    font-size: 28px;
}

.picture{
    text-align: right;
    margin-right: 50px;
}

.picture > img {
    border-radius: 100%;
    height: 400px;
    width: 400px;
}

.bioDesc {
    width: 500px;
}

p {
    letter-spacing: 1px;
    font-size: 16px;
}

footer{
    background-color: lightgray;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.footerHeader{
    font-weight: 400;
    color: rgb(30, 30, 30);
    font-size: 22px;
}

.footerItem{
    color: rgb(65, 65, 65);
}

a.footerItem{
    width: 20px;
    height: 20px;
    display: block;
    padding: 0 10px 0 0;
}

a.footerItem:hover{
    color: rgb(2, 125, 173);
}

.footerIcons{
    display: flex;
}
